entrypoint = "src/app.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "src/app.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 34125
externalPort = 80

[[ports]]
localPort = 35599
externalPort = 3001

[[ports]]
localPort = 39305
externalPort = 3000

[[ports]]
localPort = 44195
externalPort = 3002
